buffer_size: 1000
flush_interval_ms: 5000
run_duration_secs: 0 # 0 means run indefinitely

embedding:
  model: BAAI/bge-small-en-v1.5

sinks:
  # - type: stdout
  # - type: dashboard
  #   port: 3000
  - type: qdrant
    url: ${QDRANT_URL}
    api_key: ${QDRANT_API_KEY}
    collection_name: logs
  - type: elasticsearch
    url: ${ELASTIC_URL}
    user: ${ELASTIC_USER}
    password: ${ELASTIC_PASSWORD}
    index_name: logs
  - type: dashboard
    port: 3000

services:
  - name: api-gateway
    rate_per_sec: 3000.0
    level_weights:
      debug: 0.1
      info: 0.7
      warn: 0.15
      error: 0.05

  - name: auth-service
    rate_per_sec: 500.0
    level_weights:
      debug: 0.05
      info: 0.6
      warn: 0.2
      error: 0.15

  - name: payment-service
    rate_per_sec: 300.0
    level_weights:
      debug: 0.05
      info: 0.5
      warn: 0.25
      error: 0.2

  - name: user-service
    rate_per_sec: 400.0
    level_weights:
      debug: 0.1
      info: 0.65
      warn: 0.15
      error: 0.1